<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydatabase</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>

        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- Enable SQL logging (optional) -->
        <property name="hibernate.show_sql">true</property>

        <!-- Mappings -->
        <mapping class="org.exemplo.persistencia.database.model.Cliente" />
        <mapping class="org.exemplo.persistencia.database.model.Conta"/>
        <mapping class="org.exemplo.persistencia.database.model.RegistroTransacao" />

    </session-factory>
</hibernate-configuration>
